<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVPlayer 缓存测试.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5FAEB4111D77DF8D0062202D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FAEB42A1D77DF8E0062202D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FAEB4351D77DF8E0062202D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
